p.external, a.external {
  background-image: url(/elements/icons/utility/external_link.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.8em;
  padding-right: 1em;
}

p.external-highlight, a.external-highlight {
  background-image: url(/elements/icons/utility/external_link_highlight.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.8em;
  padding-right: 1em;
}