h1 {
  font-family: Helvetica;
}
h2 {
  font-family: Helvetica;
}
h3 {
  font-family: Helvetica;
  text-decoration: none; 
  color: black;
}
a {
  font-family: Helvetica;
  text-decoration: none; 
  color: black;
}
div {
  font-family: Helvetica;
  text-decoration: none; 
  color: black; 
}
span {
  font-family: Helvetica;
}
p {
  font-family: Helvetica;
  text-decoration: none; 
  color: black; 
}
#social {
  z-index: 0;
  overflow: hidden;
  margin-bottom: 16px;
  border: 2px solid #E3E4E5;
  background-color: #E3E4E5;
  color: #454D51;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px 0px;
  transform: scale(1);
}
#social:hover {
  transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  border-radius: 30px;
}
