:root {
  color-scheme: light dark;
  font-family: Helvetica;
  --body-background: light-dark(#444,#121111);
  --secondary-bkg-color: light-dark(#383838,#212021);
  --primary-color: light-dark(#fff,#dedddc);
  --primary-hover: light-dark(#ccc,#b6b5b4);
  --biolink-color: light-dark(#fff,#e5e4e3);
  --highlight-color: light-dark(#454d51,#dad9d8);
  --button-action: light-dark(#757575,#444342);
  --button-action-active: light-dark(#616161,#383736);
  --button-link: light-dark(#d8d7d6,#343332);
}

body {
  background-color: var(--body-background);
}

.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.title-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  font-size: 45px;
}

.title {
  margin-top: 20px;
  font-size: 35px;
  color: var(--primary-color);
  margin-left: 40px;
  margin-right: 10px;
}

.email {
  
  fill: var(--primary-color);
  transform: scale(1);
  transition: fill 125ms linear, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.email:hover {
  fill: var(--primary-hover);
  transform: scale(1.2);
}

h2 {
  text-align: center;
  color: var(--primary-color);
  margin-top: 50px;
  font-size: 25px;
}

.socials-title {
  margin-top: 30px;
}

.social-button {
  cursor: pointer;
  max-width: 750px;
  width: 95%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--highlight-color);
  margin: auto;
  font-size: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  background-color: var(--button-link);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px 0px;
  border-radius: 40px;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.social-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px 0px;
  transform: scale(1.03);
}

.sub-footer {
  text-align: center;
  font-size: 14px;
  margin-top: 60px;
  color: var(--primary-color);
}

.footer-container {
  display: grid;
  grid:
  'w3c footer1 blank'
  'w3c footer2 blank';
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.footer1 {
  font-size: 12px;
  color: var(--primary-color);
  grid-area: footer1;
  text-align: center;
}

.footer2 {
  font-size: 12px;
  color: var(--primary-color);
  grid-area: footer2;
  text-align: center;
}

.w3c {
  grid-area: w3c;
}

.w3c-img {
  margin-left: 10px;
  width: 88px;
  height: 31px;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.w3c-img:hover {
  transform: scale(1.07);
}

.collapsible {
  margin: auto;
  background-color: var(--button-action);
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 40px;
  max-width: 125px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 95%;
  justify-content: center;
  display: flex;
  transform: scale(1);
  transition: background-color 175ms linear, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.collapsible:hover {
  transform: scale(1.05);
}

.active, .collapsible:active {
  background-color: var(--button-action-active);
}
.content {
  background-color: var(--secondary-bkg-color);
  border-radius: 30px;
  padding: 0 20px;
  line-height: 1.25;
  max-height: 0;
  color: var(--primary-color);
  margin: auto;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 650px;
  width: 85%;
  font-size: 16px;
  text-wrap: pretty;
  text-align: left;
  transition: max-height 0.7s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.content-link {
  text-decoration: underline solid transparent;
  font-weight: bold;
  color: var(--biolink-color);
  cursor: pointer;
  transition: color 150ms linear, text-decoration 150ms linear;
}

.content-link:hover {
  color: var(--primary-hover);
  text-decoration: underline solid currentColor;
}

.dark-btn {
  text-decoration: none;
  margin: auto;
  background-color: var(--button-action-active);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
  margin-bottom: 10px;
  max-width: 125px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 95%;
  justify-content: center;
  display: flex;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.dark-btn:hover {
  transform: scale(1.05);
}

.cnncl-usrnme {
  font-size: 17px;
  color: var(--primary-color);
  justify-content: center;
  margin-bottom: 15px;
  display: flex;
}

menu {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
  list-style-type: none;
}

.redirect-header {
  color: var(--primary-color);
  text-align: center;
  margin-top: 120px;
}

.redirect-help-txt {
  text-align: center;
  color: var(--primary-color);
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 16px;
}

.header-404 {
  color: var(--primary-color);
  margin-top: 180px;
  text-align: center;
  font-size: 180px;
  font-weight: normal;
}

.main-404 {
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
}