h1 {
  font-family: Helvetica;
  margin-top: 20px;
  font-size: 45px;
}
h2 {
  font-family: Helvetica;
  margin-top: 50px;
  font-size: 25px;
}
h3 {
  font-family: Helvetica;
  color: black;
}
div {
  font-family: Helvetica;
  color: black; 
}
span {
  font-family: Helvetica;
}
.title {
  font-family: Helvetica;
  margin-top: 20px;
  font-size: 35px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  padding-right: 15px;
}
.social-button {
  cursor: pointer;
  max-width: 750px;
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  color: #454D51;
  margin: auto;
  font-size: 17px;
  margin-bottom: 20px;
  border: none;
  background-color: #d8d7d6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px 0px;
  border-radius: 40px;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.social-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px 0px;
  transform: scale(1.05);
}
.social-txt {
  padding-top: 2px;
}
.sub-footer {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  margin-top: 60px;
}
.footer {
  font-weight: normal;
  text-align: center;
  font-size: 12px;
}
.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}
.email {
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.email:hover {
  transform: scale(1.2)
}
